h1, h2, h3, label {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 20px;
    margin-top: 50px;
}

h2 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.post-container {
    display: flex;
}

.title {
    margin-left: 150px;
}

.category {
    margin-top: 25px;
    margin-left: 150px;

}

.photo {
    margin-top: 35px;
    margin-left: 150px;
}

.servings {
    margin-top: 25px;
    margin-left: 150px;

}

.vegan {
    margin-top: 25px;
    margin-left: 150px;

}

.ingredients {
    margin-top: 25px;
    margin-left: 150px;

}

.instructions {
    margin-top: 25px;
    margin-left: 150px;

}

#title {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 25px
}

#photo-preview {
    display: none;
    width: 200px;
    margin-top: 10px;
}

#servings {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 25px

}

#add-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-left: 350px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}