/* Start of header */
.header-h1 {
    font-family: 'Times New Roman', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    color: rgb(255, 128, 9);
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 120px;
}

.gallery {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

}

/* End of header */

/* Start of main */
h1, h2{
    font-family: Helvetica, Arial, sans-serif;
}

.h2 {
    position: absolute;
    top: 130px;
    left: 50px;
}

h3 {
    font-family: 'Times New Roman', Helvetica, Arial, sans-serif;

}

.breakfastcontainer, .mainscontainer, .dessertcontainer {
    margin-bottom: 15px;
}
#breakfastbtn {
    display: flex;
    justify-content: center;
    align-self: baseline;
    border: 1px solid rgba(234, 144, 0, 0.816);
    background-color: rgba(234, 144, 0, 0.816);
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#mainsbtn {
    display: flex;
    display: flex;
    justify-content: center;
    align-self: baseline;
    border: 1px solid rgba(234, 144, 0, 0.816);
    background-color: rgba(234, 144, 0, 0.816);
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#dessertbtn {
    display: flex;
    justify-content: center;
    align-self: baseline;
    border: 1px solid rgba(234, 144, 0, 0.816);
    background-color: rgba(234, 144, 0, 0.816);
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.latest-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: italic;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;

}
.latestrecipe-heading {
    text-decoration: underline;
}

.view-recipes {
    text-decoration: underline;

}
.norecipe {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: none;
}
/* End of main */

/* Start of aside */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.paragraphs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.follow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
/* End of aside */
