/* Start of main */
h1, h4{
    font-family: Helvetica, Arial, sans-serif;
}

h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-self: baseline;
    font-weight: normal;
    color: black;
}

.main-h1 {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-top: 0px;
    font-size: 40px;
}

.formcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 50px;
}

.formbox {
    background-color: rgb(239, 246, 252);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 400px;
    min-height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signupbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#email {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 0px;
    margin-left: 0px;
    height: 30px;
}

#username{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 0px;
    margin-left: 0px;
    height: 30px;
}

#password {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 0px;
    margin-left: 0px;
    height: 30px;
}

label {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

#login-username {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 0px;
    margin-left: 0px;
    height: 30px;
}

#login-password {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 0px;
    margin-left: 0px;
    height: 30px;
}

.submitbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    margin-top: 15px;;
    border: 1px solid #000;
    border-radius: 5px;
}

#here {
    color: rgb(0, 15, 222);
}

/*  Signup CSS */
input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 12px;
    display: none;
}

input.invalid {
    border: 2px solid rgb(213, 0, 0);
}

input.valid {
    border: 2px solid rgb(22, 144, 0);
}

#email-error {
    display: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    color:  rgb(213, 0, 0);
}

#password-error {
    display: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    color:  rgb(213, 0, 0);
}

/* End of Signup CSS */
