/* Start of Grid */
@media only screen and (max-width: 600px) {
    /* CSS rules for screens with a maximum width of 600px */
    }
    
    * {
        box-sizing: border-box;
    }

    nav {
        grid-area: n;
    }
    header {
        grid-area: h;
    }
    main {
        grid-area: m;
    }
    footer {
        grid-area: f;
    }

#background {
    display: grid;
    grid-template:
    "n "
    "h "
    "m"   
    "f";
}
/* End of Grid */

/* Start of Media Query */
@media (min-width: 38em) {
    #background {
       grid-template:
     " n   n "
     " h   h "
     " m   m "
     /* " a   a " */
     " f   f "
     / 50% 50%;
    }
}
 @media (min-width: 65em) {
    nav ul {
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       }
    #background {
        grid-template:
       " n   n   n"
       " h   h   h"
       " m   m   m"
       " f   f   f"
       / 1fr 1fr 1fr;
       }
}
/* End of Media Query */


/* Start of nav */
ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

li {
    margin-right: 15px;
    margin-left: 15px;
}

.home {
    list-style-type: none;
    position: absolute;
    top: 70px;
    right: 175px;
    color: rgb(0, 0, 0);
}

.category {
    list-style-type: none;
    position: absolute;
    top: 120px;
    right: 150px;
    color: rgb(0, 0, 0);
}
.login {
    list-style-type: none;
    position: absolute;
    top: 170px;
    right: 110px;
    color: rgb(0, 0, 0);
}

.contact {
    list-style-type: none;
    position: absolute;
    top: 220px;
    right: 165px;
    color: rgb(0, 0, 0);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: rgba(212, 223, 250, 0.60);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
#hidesidebar {
    position: absolute;
    right: 20px;
    margin-top: 15px;
    background-color: #edeef000;
    width: 24px;
    height: 24px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
#hidesidebar img:hover {
    background-color: #dfdfdf;
    border-radius: 10px;
}
#showsidebar {
    position: absolute;
    top: 40px;
    left: 40px;
    color: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
#showsidebar button{
    list-style-type: none;
}
/* End of nav */


/* Start of main */
h1, h2{
    font-family: Helvetica, Arial, sans-serif;
}
/* End of main */