<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Cordon Remy!</title>
</head>

<body>
  <nav>
    <ul>
        <li>Home</li>
        <li>Catergory</li>
        <li>Log-in / Sign-up</li>
        <!-- account page will pop up when logged in or signed up (5th html file) -->
        <li>Contact</li>
    </ul>
  </nav>

  <header>
    <h1>Welcome to Cordon Remy!</h1>
  </header>

  <main>

  </main>

  <footer>

  </footer>
</body>
</html>