{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
  <main>
    <div class="formcontainer">
      <!-- TO DO:
          Form validation for login/sign up-->
      <div class="formbox">
        <div class="loginbox">
          <h1 class="main-h1">Login or Sign-up</h1>
          <h4>Dont' have an account? Sign up <a href="sign-up.html">here</a></h4>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
