<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="contact.css">
  <title>Welcome to Cordon Remy!</title>
</head>

<body>
  <nav>
    <div class="sidebar" id="mysidebar">
      <button type="button" id="hidesidebar"><img src="close-sidebar-btn.png" alt="close button 'X'" height="24px" width="24px"></button>
      <ul class="nav-ul">
          <li class="home"><a href="index.html">Home</a></li>
          <li class="category"><a href="category.html">Catergory</a></li>
          <li class="login"><a href="login.html">Log-in / Sign-up</a></li>
          <!-- account page will pop up when logged in or signed up (5th html file) -->
          <li class="contact"><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>

  <header>
    <h1>Contact us!</h1>
  </header>

  <main>
    <div class="navbar">
      <button type="button" id="showsidebar"><img src="show-sidebar-btn.png" alt="sidebar button" height="24px" width="24px"></button>
    </div>
  <h2>Get notifications for new recipes and try them out yourself!</h2>
  </main>

  <footer>

  </footer>

  <script src="contact.js"></script>

</body>
</html>