{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">

    <title>{{ recipe.title }}</title>
{% endblock %}

{% block content %}
    <h1>{{ recipe.category }} : {{ recipe.title }}</h1>

    {% if recipe.photo %}
    <img id="photo" src="{{ recipe.photo }}" alt="{{ recipe.title }}">
    {% endif %}

    <h3>Vegan : {{ recipe.vegan }}</h3>
    <h3> Servings : {{ recipe.servings }}</h3>


    <h2>Ingredients</h2>
    <ul class="ingredients-list">
        {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>

    <h2>Instructions</h2>
    <ol>
        {% for step in recipe.instructions %}
            <li>{{ step }}</li>
        {% endfor %}
    </ol>


    <h2 class="comments-header">Comments</h2>
    <div class="comment-container">
        {% if session.username %}
            <div class="comment-area">
                <div class="addcomment">
                    <input type="text" id="comment" placeholder="Comment..">
                    <button id="commentbtn" type="button">Comment</button>
                </div>
        {% else %}
            <p id="login-message"><a href="{{ url_for('login') }}" id="comment-login">Login</a> or <a href="{{ url_for('signup') }}" id="comment-signup">sign up</a> to comment.</p>
        {% endif %}
                <ul id="comment-list"></ul>
            </div>
    </div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
