{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">

    <title>{{ recipe.title }}</title>
{% endblock %}

{% block content %}
    <h1>{{ recipe.category }} : {{ recipe.title }}</h1>
    <!-- <small>Posted by {{ recipe.author }}</small> -->

    {% if recipe.photo %}
    <img id="photo" src="{{ recipe.photo }}" alt="{{ recipe.title }}">
    {% endif %}

    <h3>Vegan : {{ recipe.vegan }}</h3>
    <h3> Servings : {{ recipe.servings }}</h3>


    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>

    <h2>Instructions</h2>
    <ol>
        {% for step in recipe.instructions %}
            <li>{{ step }}</li>
        {% endfor %}
    </ol>


    <h2>Comments</h2>
    <div class="comment-container">
        <div class="comment-area">
            <div class="addcomment">
                <input type="text" id="comment" placeholder="Comment..">
                <button id="commentbtn" type="button">Add Comment</button>
            </div>

            <ul id="comment-list"></ul>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

{% endblock %}
